
$primary: #22a86c;
$secondary: #069153;
$secondary-light: #5cb78e;

$font-primary: #3f3f3f;
$font-secondary: $primary;
$font-secondary-light: gray;

$background: #ebebeb;
$background-secondary: #FFF;

$graph-primary: #bebebe;
$graph-secondary: $primary;
