
$primary: #22a86c;
$secondary: #069153;
$secondary-light: #5cb78e;

$font-primary: #3f3f3f;
$font-secondary: $primary;
$font-secondary-light: gray;

$background: #FFF;
$background-secondary: #ebebeb;

$graph-primary: #e3e3e3;
$graph-secondary: $primary;

$graph-line: #797979;
