
$primary: #22a86c;
$secondary: #069153;
$secondary-light: #5cb78e;

$font-primary: #fff;
$font-secondary: $primary;
$font-secondary-light: #ccc;

$background: #3f4649;
$background-secondary: #2d2f31;

$graph-primary: #ffffff;
$graph-secondary: $primary;

$graph-line: $graph-primary;