
input[type=button],
input[type=submit],
button {
    -webkit-appearance: none;
    border: none;
    background: none;
    outline: none;

    background-color: $primary;

    padding: 12px 40px;

    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;

    box-sizing: border-box;

    color: $font-primary;
}

input[type=button]:hover,
input[type=submit]:hover,
button:hover {
    border-bottom: 5px solid $secondary;
    padding-bottom: 7px;

    /*box-shadow: 1px 1px 1px black;*/
}

input[type=button]:active,
input[type=submit]:active,
button:active {
    background-color: $secondary-light;
    border-bottom: none;
    padding-bottom: 12px;
}

