
.header {
    background-color: $background-secondary;
    height: 54px;
    /*padding: 16px;*/
    box-sizing: border-box;
    padding: 0 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}

.header .title {
    margin: 0;
    padding-right: 16px;
}

.header input {
    height: 25px;
    box-shadow: none;
    margin: 8px;
    font-size: small;
}

.header input::-webkit-input-placeholder {
    color: $font-secondary-light;
}

.spacer {
    flex: 1;
}

.header button,
.header input[type=button] {
    padding: 5px 20px;
}

.header button:hover,
.header input[type=button]:hover {
    border-bottom: 4px solid $secondary;
    padding-bottom: 1px;

    /*box-shadow: 1px 1px 1px black;*/
}

.header button:active,
.header input[type=button]:active {
    background-color: $secondary-light;
    border-bottom: none;
    padding-bottom: 5px;
}

